<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Main content -->
<main class="main" th:fragment="copy">

    <div th:replace="shared/breadcrumb :: copy"></div>
    <div class="container-fluid">

        <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 需求列表
                    </div>
                    <div class="card-block">
                        <div th:if="${not #lists.isEmpty(page.content)}">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商品价格</th>
                                <th>开始纬度</th>
                                <th>开始经度</th>
                                <th>结束纬度</th>
                                <th>结束经度</th>
                                <th>限制时间</th>
                                <th>佣金</th>
                                <th>简介</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <th:block th:each="need : ${page.content}">
                            <tbody>
                            <tr>
                                <td th:text="${need.goodName}">Vishnu Serghei</td>
                                <td th:text="${need.goodPrice}">Vishnu Serghei</td>
                                <td th:text="${need.startLat}">Vishnu Serghei</td>
                                <td th:text="${need.startLng}">Vishnu Serghei</td>
                                <td th:text="${need.endLat}">Vishnu Serghei</td>
                                <td th:text="${need.endLng}">Vishnu Serghei</td>
                                <td th:text="${need.limitTime}">Vishnu Serghei</td>
                                <td th:text="${need.money}">Vishnu Serghei</td>
                                <td th:text="${need.content}">Vishnu Serghei</td>
                                <td>
                                    <span class="badge badge-success" th:if="${need.status eq 1}" >已被接单</span>
                                    <span class="badge badge-info" th:if="${need.status eq 0}" >未被接单</span>
                                </td>
                                <td class="text-center">
                                    <div >
                                        <input type="hidden" id="studentId" name="id" />
                                        <a th:if="${need.status eq 1}" type="button" class="btn btn-primary btn-sm"  th:href="@{'/api/v1/need/' + ${need.id}}">
                                            <span class="fa fa-pencil"></span>
                                            <span class="hidden-md-down"   >查看详情</span>
                                        </a>
                                    </div>
                                </td>

                            </tr>

                            </tbody>
                            </th:block>
                        </table>
                        </div>

                        <div th:include="shared/pagination"></div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
</body>

</html>