<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Main content -->
<main class="main" th:fragment="copy">

    <div th:replace="shared/breadcrumb :: copy"></div>
    <div class="container-fluid">

        <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 订单列表
                    </div>
                    <div class="card-block">
                        <div th:if="${not #lists.isEmpty(page.content)}">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>交易时间</th>
                                <th>总价格</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <th:block th:each="order: ${page.content}">
                            <tbody>
                            <tr>
                                <td th:text="${order.number}">Vishnu Serghei</td>
                                <td th:text="${order.tradeTime}">Vishnu Serghei</td>
                                <td th:text="${order.allPrice}">Vishnu Serghei</td>
                                <td>
                                    <span class="badge badge-success" th:if="${order.status eq 1}" >已支付</span>
                                    <span class="badge badge-info" th:if="${order.status eq 0}" >未支付</span>
                                </td>
                                <td class="text-center">
                                    <div >
                                        <input type="hidden" id="studentId" name="id" />
                                        <a type="button" class="btn btn-primary btn-md"  th:href="@{'/api/student?num='}" >
                                            <span class="fa fa-eye"></span>
                                            <span class="hidden-md-down" >订单明细</span></a>

                                    </div>
                                </td>

                            </tr>

                            </tbody>
                            </th:block>
                        </table>
                        </div>

                        <div th:include="shared/pagination"></div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
</body>

</html>