<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Main content -->
<main class="main" th:fragment="copy">

    <div th:replace="shared/breadcrumb :: copy"></div>
    <div class="container-fluid">

        <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 用户列表
                    </div>
                    <div class="card-block">
                        <div th:if="${not #lists.isEmpty(page.content)}">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>注册时间</th>
                                <th>手机号</th>
                                <th>真实姓名</th>
                                <th>地址</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <th:block th:each="user : ${page.content}">
                            <tbody>
                            <tr>
                                <td th:text="${user.username}">Vishnu Serghei</td>
                                <td th:text="${user.phone}">2012/01/01</td>
                                <td th:text="${user.username}">Member</td>
                                <td th:text="${user.realName}">Vishnu Serghei</td>
                                <td th:text="${user.address}">2012/01/01</td>
                                <td>
                                    <span class="badge badge-success" th:if="${user.status eq 1}" >已激活</span>
                                    <span class="badge badge-danger" th:if="${user.status eq 0}" >已冻结</span>
                                </td>
                                <td class="text-center">
                                    <div >
                                        <input type="hidden" id="studentId" name="id" />
                                        <a type="button" class="btn btn-primary btn-md"  th:href="@{'/api/v1/user/' + ${user.id} + '/' + ${user.status} }">
                                            <span class="fa fa-pencil"></span>
                                            <span class="hidden-md-down" th:if="${user.status eq 1}"  >冻结</span>
                                            <span class="hidden-md-down" th:if="${user.status eq 0}"  >激活</span></a>
                                        <!--<a type="button" class="btn btn-danger btn-md"  th:href="${'/api/v1/user/'+ '/student/'} ">-->
                                            <!--<span class="fa fa-remove"></span>-->
                                            <!--<span class="hidden-md-down">删除</span></a>-->


                                    </div>
                                </td>

                            </tr>

                            </tbody>
                            </th:block>
                        </table>
                        </div>

                        <div th:include="shared/pagination"></div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
</body>

</html>