<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="shared/head :: copy"></div>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<div th:replace="shared/header :: copy"></div>

<div class="app-body">
    <div th:replace="shared/sidebar :: copy"></div>

    <!-- Content Wrapper. Contains page content -->
    <div th:replace="${view} :: copy"></div>


</div>

<div th:replace="shared/footer :: copy"></div>
<div th:replace="shared/script"></div>
</body>

</html>