<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>


        <header class="app-header navbar" th:fragment="copy">
            <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
            <a class="navbar-brand" href="#"></a>
            <ul class="nav navbar-nav d-md-down-none">
                <li class="nav-item">
                    <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
                </li>

            </ul>
        </header>


</body>

</html>