<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<div class="sidebar" th:fragment="copy">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> 主页 <span class="badge badge-info"></span></a>
            </li>

            <li class="nav-title">
                conveniently express
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-people"></i> 用户</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="users"><i class="icon-list"></i> 用户列表</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-notebook"></i> 订单</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="orders"><i class="icon-list"></i> 订单列表</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-note"></i> 管理员添加信息</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="models"><i class="icon-envelope"></i> 信息管理</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-pencil"></i> 需求</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="needs" target="_top"><i class="icon-list"></i> 需求列表</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-pencil"></i> 广告管理 </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="advertise" target="_top"><i class="icon-list"></i> 推送广告列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="api/v1/advertise" target="_top"><i class="icon-list"></i> 推送广告添加</a>
                    </li>
                </ul>
            </li>
        </ul>
        </ul>
    </nav>
</div>
</html>
