<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Main content -->
<main class="main" th:fragment="copy">

    <div th:replace="shared/breadcrumb :: copy"></div>
    <div class="container-fluid">

        <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 广告列表
                    </div>
                    <div class="card-block">
                        <div th:if="${not #lists.isEmpty(page.content)}">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>内容</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <th:block th:each="advertise : ${page.content}">
                            <tbody>
                            <tr>
                                <td th:text="${advertise.title}">Vishnu Serghei</td>
                                <td th:text="${advertise.content}">2012/01/01</td>
                                <td th:text="${advertise.createTime}">2012/01/01</td>
                                <td ></td>

                                <!--<td>-->
                                    <!--<span class="badge badge-success" th:if="${advertise.status eq 1}" >已激活</span>-->
                                    <!--<span class="badge badge-danger" th:if="${advertise.status eq 0}" >已冻结</span>-->
                                <!--</td>-->
                                <!--<td class="text-center">-->
                                    <!--<div >-->
                                        <!--<input type="hidden" id="studentId" name="id" />-->
                                        <!--<a type="button" th:class="${advertise.status} eq 0 ? 'btn btn-primary btn-md':'btn btn-danger btn-md'" class="btn btn-primary btn-md"  th:href="@{'/api/v1/user/' + ${user.id} + '/' + ${user.status} }">-->
                                            <!--<span class="hidden-md-down" th:if="${advertise.status eq 1}"  >冻结</span>-->
                                            <!--<span class="hidden-md-down" th:if="${advertise.status eq 0}"  >激活</span></a>-->
                                        <!--&lt;!&ndash;<a type="button" class="btn btn-danger btn-md"  th:href="${'/api/v1/user/'+ '/student/'} ">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="fa fa-remove"></span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="hidden-md-down">删除</span></a>&ndash;&gt;-->


                                    <!--</div>-->
                                <!--</td>-->

                            </tr>

                            </tbody>
                            </th:block>
                        </table>
                        </div>

                        <div th:include="shared/pagination"></div>
                        <div th:include="advertise/add"></div>


                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
</body>

</html>