<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Main content -->
<main class="main" th:fragment="copy">

    <div th:replace="shared/breadcrumb :: copy"></div>
    <div class="container-fluid">

        <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 广告列表
                    </div>
                    <div class="card-block">
                        <div th:if="${not #lists.isEmpty(page.content)}">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>内容</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <th:block th:each="advertise : ${page.content}">
                            <tbody>
                            <tr>
                                <td th:text="${advertise.title}">Vishnu Serghei</td>
                                <td th:text="${advertise.content}">2012/01/01</td>
                                <td th:text="${advertise.createTime}">2012/01/01</td>
                                <td class="text-center">
                                    <div >
                                        <input type="hidden" id="studentId" name="id" />
                                        <a type="button" class="btn btn-danger btn-md"  th:href="${'/api/v1/advertise/'+ advertise.id} ">
                                            <span class="fa fa-remove"></span>
                                            <span class="hidden-md-down">删除</span></a>


                                    </div>
                                </td>

                            </tr>

                            </tbody>
                            </th:block>
                        </table>
                        </div>

                        <div th:include="shared/pagination"></div>
                        <div th:include="advertise/add"></div>


                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>
</body>

</html>